:root {
  --custom-red-100: #9e2b30;
  --custom-yellow-100: #c7970a;
  --custom-purple-100: #7a1045;
  --custom-green-100: #596a33;
}

/* h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 60px;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	background: #7ac400;
	left: 0;
	right: 0;
	bottom: -20px;
} */

/*--- Title font style --*/

h1, h2,h3{
	font-family: "Orbitron", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

h2{
	margin: 30px 0 60px;
	position: relative;
}

h2.title-red{
  color: var(--custom-red-100) !important;
}

h2.title-yellow{
  color: var(--custom-yellow-100) !important;
}

h2.title-gray{
  color: #332d2d;
}

h2.title-purple{
  color: var(--custom-purple-100);
}

h2.title-green{
  color: var(--custom-green-100);
}

h2.title-red::after,h2.title-yellow::after, h2.title-purple::after {
    content: "";
    width: 10%;
    position: absolute;
    margin: 0 auto;
    height: 4px;
    border-radius: 1px;
	  left: 0;
    right: 0;
    bottom: -20px;
    transition: all 1s ease-out;
    transition: 200ms linear 50ms;
}

h2.title-red::after {
    background: var(--custom-red-100);
}

h2.title-yellow::after {
    background: var(--custom-yellow-100);
}

h2.title-red:hover:after,h2.title-yellow:hover:after {
	width: 20%;
}

/*-- Title font style ---*/

.icon-hover:hover i {
  color: #3b71ca !important;
}

.custom-hover {
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
}

.custom-hover:hover {
  color: #ffffff !important;
  font-weight: 700;
  background: linear-gradient(90deg, #6a0dad, #d4af37, #4c7f50, #bc5f3d, #3a4d6f) !important;
}

.custom-input {
  border: 2px solid #ced4da;
  border-radius: 0.375rem 0 0 0.375rem;
  padding: 0.75rem;
}

.custom-btn {
  background-color: #007bff;
  color: #fff;
  border-radius: 0 50px 50px 0;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
}

.custom-btn:hover {
  background-color: #0056b3;
}

.payment-logo {
  width: 35px;
  height: auto;
  object-fit: contain;
}

/*--- Slider  --*/

#productCarrousel{
	padding-bottom: 4rem;
}

#productCarrousel .carousel-inner {
  width: 80%;
  margin: auto;
}

#productCarrousel .carousel-control-prev-icon::after, #productCarrousel .carousel-control-next-icon::after{
	color: black; 
}

#productCarrousel .carousel-indicators{
	top: 85%;
}

#productCarrousel  .carousel-indicators button.active{
  opacity: 1;
  background-color: var(--custom-red-100);
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);   
}

#productCarrousel .carousel-indicators button{
	background-color: #8b8b8b ;
	box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);   
}

/*-- Slider  ---*/


/*--- Product design  --*/

.product-design .card{
  border-radius: 0;
  border: 2px solid #dcdcdc;
}

.product-design .card-footer{
  border: none;
  padding-top: 0;
}

.product-design .card .card-body .card-footer .btn{
  background-color: #4f4f4f;
  transition: all 0.3s ease;
}

.product-design .card .card-body .card-footer .btn:hover{
  background-color: black;

}


/*--- Category  --*/

.category-block{
  height: 300px;
  
}

.img-filter {
  filter: grayscale(100%);
  transition: all 0.3s ease;
  rotate: calc(50deg);
}

.text-overlay {
  position: relative;
  z-index: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejorar la legibilidad */
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.category-block:hover .img-filter {
  filter: grayscale(0);
  rotate: calc(0deg);
}

/*-- Category  ---*/

/*--Nosotros--*/

#nosotros {
  background-color: #f8f9fa;
  padding: 60px 0;
}

#nosotros h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#nosotros p {
  font-size: 1.2rem;
  line-height: 1.6;
}

#nosotros img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}