<div class="container my-5">
    <header class="mb-4">
        <h2 class="text-center title-yellow">Categorias Principales</h2>
    </header>
    <div class="container">

        <!-- Slider main container -->
         <div class="swiper slider-container" id="sliderCategories">
            <!-- Additional required wrapper -->
             <ul class="swiper-wrapper" id="categories-container">

            </ul>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
             
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <!-- If we need scrollbar -->
        </div>
    </div>
</div>
